<!doctype html>
<html lang="en">
  <head>
    {% load static %}

    <!-- Boostrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'graph/style.css' %}" />

    <title>{% block title %}Page Title{% endblock %}</title>
    <meta charset="utf-8">
  </head>
  <body>
    <div><a href="{% url 'graph:index' %}">Home</a></div>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
