{% extends "graph/base.html" %}

{% block title %}
{{ course.code }} {{ course.name }}
{% endblock %}

{% block content %}
<div><a href="{% url 'graph:department' course.department.id %}">{{ course.department }}</a> 
  {{ course.code }} - {{ course.name }}</div>
<div>Entered by {{ course.creator }}</div>

<div>Enrolled: {{ enrolled }}</div>

{% if enrolled %}
  <form action="/enrollment/delete/" method="POST">
{% else %}
  <form action="/enrollment/new/" method="POST">
{% endif %}
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">{% if enrolled %}Unenroll{% else %}Enroll {% endif %}</button>
  </form>
{% endblock %}
